/* src/App.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.app .content {
  padding-top: 60px; /* To offset the fixed TabBar */
}

.app .section {
  min-height: 100vh; /* Makes each section take up the full height of the viewport */
  padding: 20px;
  box-sizing: border-box;
}

.app #about {
  background-color: #f1f1f1;
}

.app #portfolio {
  background-color: #e0e0e0;
}

.app #resume {
  background-color: #d0d0d0;
}

.app #blog {
  background-color: #c0c0c0;
}

button {
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #0073e6;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}

/* Add a smooth scroll effect for the body */
html {
  scroll-behavior: smooth;
}