#portfolio {
  text-align: center;
}

#portfolio h2 {
  color: whitesmoke;
  background-color: darkslategray;
  font-size: 2rem;
  margin-bottom: 10px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project {
  background-color: #273838;
  border: 1px solid #ddd;
  color: whitesmoke;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.project-description {
  font-size: 1em;
  margin-bottom: 15px;
}

.project-link {
  color: #8d7df5;
  text-decoration: none;
  font-weight: bold;
}

.project-link:hover {
  text-decoration: underline;
}
