#contact {
  padding: 20px;
  text-align: center; /* Center the content */
}

#contact .contact-text {
  background-color: darkslategray;
  color: whitesmoke;
}

#contact h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-size: 1.8rem;
}

#contact ul {
  list-style-type: none;
  padding: 0;
  font-size: 1.5rem;
  background-color: darkslategray;
  color: whitesmoke;
  padding: 10px;
}

#contact li {
  margin-bottom: 10px;
}

#contact a {
  color: #0080ff;
  text-decoration: underline;
}

#contact a:hover {
  text-decoration: underline;
}