/* src/components/TabBar.css */

/* TabBar styles */
.tab-bar {
  position: fixed;
  width: 100%;
  background-color: #333;
  display: flex;
  padding: 10px 20px;
  z-index: 1000;
}

.tab-links-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 30px;
  flex-wrap: wrap;
}

.tab-links {
  display: flex;
  flex-shrink: inherit;
  gap: 30px;
}

.tab-link {
  background: #2f4f4f;
  border: none;
  color: white;
  font-size: 1.2vw;
  text-decoration: none;
  cursor: pointer;
}

.tab-link:hover {
  text-decoration: underline;
  background-color: #273838;
  color: lightgray;
}

.tab-link.active {
  background-color: darkslateblue;
  color: #fff;
}

.tab-header {
  color: white;
  font-size: 1.2vw;
  text-decoration: none;
  margin-top: 0.5vw;
}
