/* src/components/TabBar.css */

.tab-link:hover {
  text-decoration: underline;
  background-color: #273838;
  color: lightgray;
}

.tab-link.active {
  background-color: darkslateblue;
  color: #fff;
}

.tab-header {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .tab-bar {
    position: fixed;
    width: 100%;
    background-color: #333;
    display: flex;
    z-index: 1000;
    height: 26vw;
  }
  .tab-header {
    font-size: 5vw;
    text-align: center;
  }

  .tab-link {
    background: #2f4f4f;
    color: whitesmoke;
    text-decoration: none;
    padding: 2vw;
    border-color: darkgrey;
    border-radius: 3px;
    border-style: solid;
    color: whitesmoke;
    font-size: 5vw;
    margin: 1vw;
  }

  .tab-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  .tab-bar {
    position: fixed;
    width: 100%;
    background-color: #333;
    display: flex;
    z-index: 1000;
    height: 3vw;
    padding-top: 1vw;
  }
  .tab-header {
    font-size: 1.5vw;
  }

  .tab-link {
    font-size: 1.5vw;
  }

  .tab-links {
    display: flex;
    flex-shrink: inherit;
    gap: 1vw;
    height: 2vw;
  }
  .tab-link {
    background: #2f4f4f;
    padding: 0vw 1vw;
    border-color: darkgrey;
    border-radius: 3px;
    border-style: solid;
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
  }

  .tab-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 30px;
    flex-wrap: wrap;
  }
}
