/* src/App.css */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: lightgray;
}

.app .content {
  background-color: transparent;
  margin-top: 3vw;
}

@media (max-width: 768px) {
  .app .content {
    margin-top: 20vw;
  }
}
.app .section {
  min-height: 100vh;
  box-sizing: border-box;
}

footer {
  background-color: #998f8f;
}

html {
  scroll-behavior: smooth;
}

h2 {
  color: whitesmoke;
  border: 1px solid #ddd;
  border-radius: 5px;
}
