#resume {
  text-align: center;
}

#resume h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

#resume .resume-text {
  background-color: darkslategray;
  color: whitesmoke;
}

#resume p {
  background-color: darkslategray;
  color: whitesmoke;
}

#resume a {
  color: #8d7df5;
  background-color: darkslategray;
}
