#about h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  background-color: darkslategray;
  color: whitesmoke;
}

#about p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  background-color: darkslategray;
  color: whitesmoke;
  text-align: center;
  padding: 3%;
  opacity: 0.9;
  border: 1px solid #ddd;
  border-radius: 5px;
}
