#home {
  text-align: center;
}

#home h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: whitesmoke;
  background-color: darkslategray;
}

#home p {
  font-size: 18px;
  line-height: 1.6;
  color: whitesmoke;
  background-color: darkslategray;
  margin-bottom: 3%;
  opacity: 0.9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.home-image {
  max-width: 40%;
  height: auto;
  margin: 5px;
  border: 3px solid #2d8080;
}
